# Application Port
port=4000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password
DB_NAME=codeVaultNestJs

# JWT Authentication
jwtSecret=your_super_secret_jwt_key
jwt_expiry=1h
